<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmut.dao.BikeDao">
    <resultMap id="bike_info" type="com.xmut.pojo.Bike">
        <id column="bike_id" property="bikeId"/>
        <result column="brand" property="brand"/>
        <result column="bike_model" property="bikeModel"/>
        <result column="bike_count" property="bikeCount"/>
        <result column="production_date" property="productionDate"/>
        <result column="procurement_date" property="procurementDate"/>
        <result column="rented_count" property="rentedCount"/>
        <result column="bike_img" property="bikeImg"/>
        <result column="bike_type" property="bikeType"/>
    </resultMap>

    <!--查询所有自行车信息-->
    <select id="getAllBikeInfo" resultMap="bike_info">
        select * from bike
    </select>
</mapper>