<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmut.dao.UserDao">
	<!-- property：主键在pojo中的属性名 -->
	<!-- column：主键在数据库中的列名 -->
    <resultMap type="com.xmut.pojo.User" id="user_info">
        <id column = "user_id" property = "userId" />
        <result column = "user_no" property = "userNo"/>
        <result column = "user_pass" property = "userPass"/>
        <result column = "user_name" property = "userName"/>
		<result column="user_sign" property="userSign"/>
		<result column="account_authority" property="accountAuthority"/>
		<result column="user_balance" property="userBalance"/>
		<result column="account_status" property="accountStatus"/>
		<result column="user_sex" property="userSex"/>
		<result column="birthday" property="birthday"/>
		<result column="head_img" property="headImg"/>
    </resultMap>

    <select id="getUserByID" parameterType="java.lang.Long" resultMap = "user_info">
		select * from user where user_id=#{value}
	</select>
    <select id="findUsers" parameterType="string" resultMap = "user_info">
		select * from user where user_no like '%${value}%'
	</select>
    <select id="checkUserLogin" parameterType="java.lang.String" resultMap = "user_info">
		select * from user where user_no=#{0} and user_pass=#{1}
	</select>
	<!--查询全部账号-->
	<select id="queryAllUser" resultMap="user_info">
		select * from user
	</select>
	<select id="queryUserByUserNo" parameterType="com.xmut.pojo.User" resultMap="user_info">
		select * from user where account_authority = #{accountAuthority}
		<if test = "userNo != null">
            and user_no like concat('%',#{userNo},'%')
        </if>
	</select>

    <insert id="insertUser" parameterType="com.xmut.pojo.User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into
			user(user_no,user_pass,user_name,account_authority,user_balance,
			user_sign,account_status,user_sex,birthday,head_img)
		values
			(#{userNo},#{userPass},#{userName},#{accountAuthority},#{userBalance},
			#{userSign},#{accountStatus},#{userSex},#{birthday},#{headImg})
	</insert>

	<!--更新账号状态、账户权限-->
	<update id="updateUserAccount" parameterType="com.xmut.pojo.User">
		update user set
		<choose>
			<when test="accountStatus != null">
				account_status = #{accountStatus}
			</when>
			<otherwise>
				account_authority = #{accountAuthority}
			</otherwise>
		</choose>
         WHERE user_id = #{userId}
    </update>
	<!--更新账户资料-->
	<update id="updateUserInfo" parameterType="com.xmut.pojo.User">
		update user set head_img = #{headImg},user_name = #{userName},user_sex = #{userSex},
		birthday = #{birthday},user_sign = #{userSign} where user_id = #{userId}
	</update>

	<!--更新账户余额-->
	<update id="updateUserBalance" parameterType="com.xmut.pojo.User">
        update user set user_balance = #{userBalance} WHERE user_id = #{userId}
    </update>

	<!--更新账户密码-->
	<update id="updateUserPass" parameterType="com.xmut.pojo.User">
        update user set user_pass = #{userPass} WHERE user_id = #{userId}
    </update>
    
    <delete id="deleteUserByUserID" parameterType="com.xmut.pojo.User">
        DELETE  FROM user where user_id = #{userId}
    </delete>

</mapper>